$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "transitions";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  padding: 0;
  background-image: url('images/Have-a-Heart-Animal-Rescue.jpg'); 
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  background-size: 100%;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
  
//  height: 100%;
  position: relative;  
  width: 100%;
  background-color: lightgray;
  color: black;
//  text-align: center;
//  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: white; // #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  
  background-color: rgba(255,255,255, 0.5);
  color: inherit;
  
//  background:transparent;
//  background-image: url('/images/Have-a-Heart-Animal-Rescue.jpg'); no-repeat: center center fixed; 
 // width: 100%;
  //height: 100%;
//  -webkit-background-size: cover;
 // -moz-background-size: cover;
 // -o-background-size: cover;
//  background-size: cover;
//  overflow: hidden;
  
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.saved-searches-list {
  color: white;
  
  li {
    padding: 2px;
  }
  
}
/* Supporting marketing content 
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
} */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
