<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
</div> -->

<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Search for Animal Rescues</h1>
  <p class="lead">
    <div ng-init="location='Seattle'">
        <p>
          <label for="location">Location:
            <input type="text" name="location" ng-model="location">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">Enter new location</button>
        </p>
     </div>
  </p>
</div> 

<!--     <div id="map_canvas" ng-controller="mainCtrl"> -->
<!--     <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options"> -->
<!--         <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box> -->
<!--     </ui-gmap-google-map> -->

<!-- <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map> -->
<p> 
<div map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="{{googleMapsUrl}}">
  <ng-map center="41,-87" zoom="3"></ng-map> 
 </div>
</p>

<p>
<div map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="{{googleMapsUrl}}">
   <ng-map center="-25.363882,131.044922" zoom="4">
    <marker position="-25.363882,131.044922" title="Hello World!"></marker>
  </ng-map>
</div>
</p>

<!--
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj37hATwUh9_59VaD-Bmlea66V_FDGr2w&libraries=places&callback=initAutocomplete"
         async defer></script> -->
 
